


<ion-content padding>
  <form id=formLog (ngSubmit)="loginUser(formlogin)" #formlogin="ngForm">
    <ion-item>
      <ion-label floating color="light">Email</ion-label>
      <ion-input name="email" type="email" required ngModel ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating color="light">Password</ion-label>
      <ion-input name="password" type="password" required ngModel></ion-input>
    </ion-item>
  
    <ion-item no-lines>
      <button ion-button block type="submit" [disabled]="!formlogin.valid">iniciar sesión</button>
    </ion-item>
  </form>
    <ion-item no-lines>
      <button ion-button clear block  color="light" (click)="presentModal()">
        registrarse
      </button>
      </ion-item>
</ion-content>
