page-login {
   .fixed-content {
        background-color: whitesmoke;
        background-image: url(../../assets/imgs/abstract-technology.jpg);
      
    }

#formLog {
    
    margin-top: 50%;
    background-color: transparent;
    box-shadow: darkgray;
}

ion-item{
    
    background-color: transparent;
}

.item.item-block.item-md.item-input.ng-untouched.ng-pristine.ng-valid {
    color: white;
    background-color: transparent;
}

.item.item-block.item-md {
    background-color: transparent;
}
}
