<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.nombre}}
      <div class="item-note" item-end>
        {{item.telefono}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>hola</b>
  </div>
</ion-content>
