<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <ion-card>
    <ion-avatar><img src="" alt="Esto es una imagen"></ion-avatar>
    <ion-card-content>
      Esto es una descripción.
    </ion-card-content>
  </ion-card>
 
  <button ion-button secondary block (click)="registro()" >agregar una empresa</button>
</ion-content>
