<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form id=formId (ngSubmit)="addUser(formAdd)" #formAdd="ngForm">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input name="email" type="email" ngModel ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input name="password" type="pass" ngModel></ion-input>
    </ion-item>

    <ion-item>
      <button ion-button type="submit">Registrarse</button>
    </ion-item>
  </form>


</ion-content>
