<!--
  Generated template for the ModalRegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>modalRegistro</ion-title>
    <ion-buttons left>
      <button ion-button clear icon-only (click)="dismiss()" > <ion-icon name="person" ></ion-icon>  </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form id=formR (ngSubmit)="agregar(regForm)" #regForm="ngForm">
 
    <ion-grid>

      <ion-col>
        <ion-item>
          <ion-label floating>Nombre</ion-label>
          <ion-input name="nombre" required ngModel></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Teléfono</ion-label>
          <ion-input name="telefono" required ngModel ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Correo</ion-label>
          <ion-input name="correo" required ngModel ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Dirección</ion-label>
          <ion-input name="direccion" ngModel></ion-input>
        </ion-item>

        <ion-item>
            <button ion-button block type="submit" >Agregar</button>
        </ion-item>
      </ion-col>

    </ion-grid>

  </form>
</ion-content>
